.addmaterial-container h2 {
  text-align: center;
  letter-spacing: 3px;
  text-decoration: underline;
  text-transform: uppercase;
}
.material-container h2 {
  text-align: center;
  letter-spacing: 3px;
  text-decoration: underline;
  text-transform: uppercase;
}
